.title1:before {
    position: absolute;
    content: "";
    background: rgba(0,0,0,.1);
    height: 5px;
    width: 45%;
    margin-top: 15px;
    margin-left: 20%;
}
.title2:before {
    position: absolute;
    content: "";
    background: rgba(0,0,0,.1);
    height: 5px;
    width: 45%;
    margin-top: 15px;
    margin-left: 20%;
}