.navbar-container {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }
    img {
        width: 100px;
        height: 80px;
    }
    .logo {
        flex-grow: 1;
    }
    .menu-item-1{
        flex-grow: 1;
    }
    .menu-item-2 {
        flex-grow: 8;
    }
    .user, .cart {
        flex-grow: 1;
    }
}