* {
    box-sizing: border-box;
}
.food-item {
    position: relative;
    width: 290px;
    height: 500px;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .img-item {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 290px;
        height: 290px;
        overflow: hidden;
    }
    a {
        text-decoration: none;
        color: #000;
        display: block;
    }
    img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        transition: transform .5s;
    }
    img:hover {
        transform: scale(1.25);
    }
    .dish-name, .detail {
        font-weight: lighter;
        padding-left: 10px;
    }
    .dish-name {
        font-size: 20px;
        font-weight: bolder;
    }
    .detail {
        font-size: 15px;
    }
    .add {
        border: none;
        cursor: pointer;
        background-color: firebrick;
        color: #fff;
        border-radius: 5px;
        margin-top: 100px;
        
    }
    .button-add {
        text-align: center;
    }
}